<?xml version="1.0"?>
<!-- 
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Airhotels
 * @version     1.0
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2017 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 *
 */
! -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
  
  <event name="sales_order_invoice_save_after">
    <observer name="airhotels_order_invoice" instance="Apptha\Airhotels\Observer\Invoice" />
  </event>
  <event name="catalog_product_save_before">
     <observer name="airhotels_product_save_before" instance="Apptha\Airhotels\Observer\Productmanage" />
  </event>
  <event name="catalog_product_delete_before">
        <observer name="airhotels_product_delete_before" instance="Apptha\Airhotels\Observer\Productdelete" />
   </event>
   <event name="review_save_after">
        <observer name="airhotels_review_save_after" instance="Apptha\Airhotels\Observer\Reviewmanage" />
    </event>
   <event name="sales_order_creditmemo_save_after">
        <observer name="airhotels_order_creditmemo_save_after" instance="Apptha\Airhotels\Observer\Creditmemo" />
    </event>
    <event name="customer_save_after">
        <observer name="airhotels_customer_save_after" instance="Apptha\Airhotels\Observer\Customermanage" />
    </event>
</config>
